# Data Cleaning & Feature Engineering

In [45]:
import pandas as pd
import numpy as np
import os
import json
from pathlib import Path

BASE_PATH = Path(os.getcwd())/'data'

with open(BASE_PATH/'fighters.json') as f: fighters = json.load(f)
with open(BASE_PATH/'fights.json') as f: fights = json.load(f)
    
df_fighters = pd.DataFrame(fighters).drop('fighter_id', axis=1).replace('--',np.NaN).replace('',np.NaN)
df_fights = pd.DataFrame(fights).drop(['fight_id', 'event_id'], axis=1).replace('--',np.NaN).replace('',np.NaN)

In [46]:
df_fighters.tail()

            fighter_name  height    weight reach    stance           dob
3404         Matt Hughes   5' 9"  170 lbs.   73"    Switch  Oct 13, 1973
3405         Adam Hunter   6' 1"  185 lbs.   73"  Orthodox  Oct 16, 1983
3406         Bryan Humes     NaN  265 lbs.   NaN       NaN           NaN
3407          Joe Hurley   5' 8"  155 lbs.   NaN       NaN  Jun 24, 1978
3408  Solomon Hutcherson  5' 11"  185 lbs.   NaN  Southpaw  Aug 31, 1972

In [47]:
df_fights.tail().T

,5468,5469,5470,5471,5472
r_fighter,Kevin Rosier,Ken Shamrock,Gerard Gordeau,Gerard Gordeau,Royce Gracie
b_fighter,Zane Frazier,Patrick Smith,Kevin Rosier,Teila Tuli,Gerard Gordeau
r_kd,2,0,1,0,0
b_kd,0,0,0,0,0
r_sig_str.,15 of 27,1 of 1,11 of 17,3 of 5,1 of 2
b_sig_str.,12 of 28,4 of 8,0 of 3,0 of 1,0 of 0
r_sig_str_pct,55%,100%,64%,60%,50%
b_sig_str_pct,42%,50%,0%,0%,0%
r_total_str.,38 of 53,4 of 4,11 of 17,3 of 5,3 of 4
b_total_str.,13 of 29,16 of 20,0 of 3,0 of 1,0 of 0
r_td,0 of 0,1 of 2,0 of 0,0 of 0,1 of 3
b_td,0 of 0,0 of 0,0 of 0,0 of 1,0 of 0
r_td_pct,0%,50%,0%,0%,33%
b_td_pct,0%,0%,0%,0%,0%
r_sub_att,0,2,0,0,1
b_sub_att,0,0,0,0,0
r_pass,0,0,0,0,2
b_pass,0,0,0,0,0
r_rev,0,0,0,0,0
b_rev,0,0,0,0,0
r_head,12 of 23,1 of 1,7 of 13,3 of 5,1 of 1
b_head,7 of 19,1 of 4,0 of 1,0 of 1,0 of 0
r_body,3 of 4,0 of 0,1 of 1,0 of 0,0 of 0
b_body,3 of 6,1 of 1,0 of 1,0 of 0,0 of 0
r_leg,0 of 0,0 of 0,3 of 3,0 of 0,0 of 1
b_leg,2 of 3,2 of 3,0 of 1,0 of 0,0 of 0
r_distance,4 of 10,0 of 0,5 of 8,1 of 3,0 of 1
b_distance,0 of 7,1 of 1,0 of 3,0 of 1,0 of 0
r_clinch,4 of 9,0 of 0,0 of 0,0 of 0,0 of 0
b_clinch,10 of 19,1 of 1,0 of 0,0 of 0,0 of 0
r_ground,7 of 8,1 of 1,6 of 9,2 of 2,1 of 1
b_ground,2 of 2,2 of 6,0 of 0,0 of 0,0 of 0
win_by,KO/TKO,Submission,KO/TKO,KO/TKO,Submission
last_round,1,1,1,1,1
last_round_time,4:20,1:49,0:59,0:26,1:44
format,No Time Limit,No Time Limit,No Time Limit,No Time Limit,No Time Limit
referee,Joao Alberto Barreto,Joao Alberto Barreto,Joao Alberto Barreto,Joao Alberto Barreto,Joao Alberto Barreto
fight_type,Open Weight Bout,Open Weight Bout,Open Weight Bout,Open Weight Bout,UFC 1 Tournament Title Bout
winner,Kevin Rosier,Ken Shamrock,Gerard Gordeau,Gerard Gordeau,Royce Gracie

## Processing Fighter Dataset

In [49]:
df_fighters.dtypes

fighter_name    object
height          object
weight          object
reach           object
stance          object
dob             object
dtype: object

In [50]:
df_fighters.isna().sum()

fighter_name       0
height           258
weight            75
reach           1714
stance           838
dob              739
dtype: int64

In [54]:
#drop fighters with no weight
df_fighters = df_fighters[~df_fighters.weight.isnull()]

In [55]:
df_fighters

            fighter_name  height    weight reach    stance           dob
0            Ben Earwood   5' 8"  170 lbs.   NaN  Orthodox           NaN
1              Cody East   6' 3"  245 lbs.   74"  Orthodox  Jun 29, 1988
2            Mark Eddiva   5' 8"  145 lbs.   68"  Orthodox  Feb 16, 1986
3            Mike Easton   5' 6"  135 lbs.   70"  Southpaw  Jan 25, 1984
4           Yves Edwards   5' 9"  155 lbs.   73"  Southpaw  Sep 30, 1976
...                  ...     ...       ...   ...       ...           ...
3404         Matt Hughes   5' 9"  170 lbs.   73"    Switch  Oct 13, 1973
3405         Adam Hunter   6' 1"  185 lbs.   73"  Orthodox  Oct 16, 1983
3406         Bryan Humes     NaN  265 lbs.   NaN       NaN           NaN
3407          Joe Hurley   5' 8"  155 lbs.   NaN       NaN  Jun 24, 1978
3408  Solomon Hutcherson  5' 11"  185 lbs.   NaN  Southpaw  Aug 31, 1972

[3334 rows x 6 columns]